@model IEnumerable<VCAS.Models.usp_SelectReceiptItems_Result>


<table class="table sub-compact">
    <thead>
        <tr>
            <th>LINE #</th>
            <th>ITEM</th>
            <th>QTY</th>
            <th>SALES PRICE</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr  style="border-top: 1px black dotted;">
                <td>
                    @Html.DisplayFor(modelItem => item.rowNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.item_name)
                </td>
                <td>
                    1
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.sellingPrice)
                </td>
            </tr>
        </tbody>
    }
</table>