@model IEnumerable<VCAS.Models.VCAS_capture_payments>


<table class="table subcompact">
    <thead>
        <tr>
            <th>
                Line #
            </th>
            <th>
                Description
            </th>
            <th>
                Sales Price
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VCAS_REF_items.name) - @Html.DisplayFor(modelItem => item.VCAS_REF_items.desc)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.amount)
                </td>
            </tr>
        </tbody>
    }
</table>
<br/>
<table class="table subcompact">
    <thead>
        <tr>
            <th>
                Comment
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.comment)
                </td>
            </tr>
        </tbody>
    }
</table>

<p align="RIGHT">Total: <strong>$@ViewBag.total</strong></p>
<p align="RIGHT">Payment: <strong>$@ViewBag.payment</strong></p>
<p align="RIGHT">Balance: <strong>$@ViewBag.balance</strong></p>