@{
    ViewBag.Title = "_creditsChart2";
}

<h5>Income <span class="fg-grayBlue" style="border-bottom: 1px dashed; width: 20%; font-size: 12px;"> - Monthly total received for the year : @DateTime.Today.ToString("yyyy")</span></h5>
<canvas id="barcanvas2" style="width:100%;"></canvas>

<script>
    $(document).ready(function () {


    // Credit Transaction Chart Logic
    // ==============================
		$.ajax({
			type: 'POST',
			url: '@Url.Action("CreditTransJson2", "creditTrans")?&d=' + @ViewBag.data,
			dataType: 'json',
            success: function (chData) {
                var aLabels = chData.map(function (e) {
                    return e.datetime
                });
                var aDatasets1 = chData.map(function (e) {
                    return e.amount
                });
                const ctx3 = document.getElementById('barcanvas2').getContext('2d');
				new Chart(ctx3, {
                    type: 'bar',
					data: {
                        labels: aLabels,
						datasets: [{
							label: "Total Credits ",
                            data: aDatasets1,
							backgroundColor: [
								'rgba(255, 99, 132, 0.2)',
								'rgba(255, 159, 64, 0.2)',
								'rgba(255, 205, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(153, 102, 255, 0.2)',
                                'rgba(201, 203, 207, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(255, 205, 86, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
							],
							borderColor: [
								'rgb(255, 99, 132)',
								'rgb(255, 159, 64)',
								'rgb(255, 205, 86)',
								'rgb(75, 192, 192)',
								'rgb(54, 162, 235)',
								'rgb(153, 102, 255)',
                                'rgb(201, 203, 207)',
                                'rgb(153, 102, 255)',
                                'rgb(54, 162, 235)',
                                'rgb(75, 192, 192)',
                                'rgb(255, 205, 86)',
                                'rgb(255, 159, 64)'
							],
							borderWidth: 1
						}]
					},
                    options: {
                        tooltips: {
                            enabled: true
                        },
                        responsive: false
                    }
                });                
            }
    });
});
</script>