@model VCAS.Models.VCAS_supportDocs
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.media</title>

    <style>
        body {
            margin: 0px !important;
        }
    </style>
</head>
<body>
    <object data='@Url.Content("~/Content/Uploads/" + Model.media)' width="100%">
        <p>Click to access <a id="objectVAL" href='@Url.Content("~/Content/Uploads/" + Model.media)'>Attachment</a></p>
    </object>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(document).ready(function () {
            obj = $("#objectVAL").attr('href').split('.').pop(); // find file from link and check it's extention
            if (obj == 'pdf') {                                  // if extention ===> pdf do something
                $('object').css("height", "1000px");             // in this instance, something is to increase the height of the pdf for readability
            }
        });
    </script>
</body>
</html>
