@{
    ViewBag.Title = "About";
}

<div id="app_styleBG">
    <h2>@ViewBag.Title.</h2>

    <p>@VCAS.Controllers.HomeController.gloabl_appName()</p>
    <p> &copy; @DateTime.Now.Year - ver. @typeof(VCAS.MvcApplication).Assembly.GetName().Version</p>
    <hr class="bg-darkGray" style="width: 50%;" />
    <p>Developed by:: <a href="https://www.lazarusvc.com">Lazarus Ventures Co.</a></p>
    <p>Software Developer:: <span style="color: #0366d6;">Austin Lazarus</span></p>
    <p> &copy; Accounting/Design Input:: </p>
    <ul data-role="list" style="color: #0366d6;">
        <li>Mrs. Beverly Pinard</li>
        <li>Mrs. Delian Sandford-Thomas</li>
        <li>Kerym Registe</li>
    </ul>
</div>

