@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Village Council Accounting Software</p>
<p> &copy; @DateTime.Now.Year - ver 1.0.0</p>
<hr class="bg-darkGray" />
<p>Developed by <a href="https://www.budgeat.co">Budgeat Co.</a></p>
<p>Software Developer:: <span style="color: #0366d6;">Austin Lazarus</span></p>
<p>Project Manager:: <span style="color: #0366d6;">Delian Thomas</span></p>
<hr class="bg-darkGray" />
