@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Roseau<br />
    Comm. wealth of Dominica W.I.<br />
    <abbr title="Phone">P:</abbr>
    +1 (767) 614-4347<br/>
    <abbr title="Phone">W:</abbr>
    +1 (767) 611-3322
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:austin.lazarus@gmail.com">austin.lazarus@gmail.com</a><br />
</address>