@using ReportViewerForMvc;
@{
    ViewBag.Title = "VCAS Reports";
}

<!-- Quick Links ============================================= -->
<div>
    <h6 style="font-weight: 700;" class="fg-grayBlue">:: Quick Links</h6>
    @Html.MvcSiteMap().Menu(false, true, true)
</div>

<div class="form-horizontal">
    <div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
        <div class="row">
            <div class="cell-lg-12">
                <div style="display: inline-flex;">
                    <h2 class="fg-darkGray"><span class='mif-news icon'></span> Select a Report::</h2>
                </div>
                <hr class="bg-gray" />
                @using (Html.BeginForm("Reports", "Home", FormMethod.Post))
                {
        <div class="row">
            <div class="cell-lg-8">
                @Html.DropDownList("rp", null, "-- Select --", htmlAttributes: new { data_role = "select" })
            </div>
            <div class="cell-lg-4">
                <button type="submit" id="Btn" class="button drop-shadow yellow" style="width: 100%;">
                    Submit &nbsp;<span class="mif-arrow-up-right icon"></span>
                </button>
            </div>
        </div>}
            </div>
            <br />
            <div id="iframeHidden">
                @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    //$(document).ready(function () {
        var iframe = $("#iframeHidden iframe");
        iframe.hide();
        $("#Btn").on('click', function () {
            window.open(iframe.attr('src'), '_blank').focus();
        });
    //});
</script>