@{
    ViewBag.Title = "Index";
}


<!-- Quick Links ============================================= -->
<div>
    <h6 style="font-weight: 700;" class="fg-grayBlue">:: Quick Links</h6>
    @Html.MvcSiteMap().Menu(false, true, true)
</div>

<div class="grid" style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
    <div class="row">
        <div class="cell-12">
            <h3 class="fg-gray">Cancel Receipt</h3>
            <input data-role="input" placeholder="Receipt # e.g. VCR010120211" id="rec"><br/>
            <input type="submit" value="Submit" class="button drop-shadow yellow" id="SubmitIF" style="width: 100%;" />
        </div>      
    </div>
    <br />
    <hr class="fg-grayBlue" />

    <div id="partialview10">
    </div>
</div>

<script>
    $(document).ready(function () {
        // Partial View Data Logic
        // =============================

        $("#SubmitIF").on('click', function () {
            // Params
            var result = $("#rec").val();

            $.ajax({
                url: '@Url.Action("IndexPartial", "capture_payments")?&recNum=' + result,
                type: "GET",
                success: function (result) {
                    $("#partialview10").html(result);
                    $('#loader').hide();
                }
            });
        });
    });
</script>