@model VCAS.Models.VCAS_capture_payments

@{
    ViewBag.Title = "RePrint";
}

<h6 style="font-weight: 700;" class="fg-grayBlue">:: Navigation</h6>
@Html.MvcSiteMap().Menu(false, true, false)

@using (Html.BeginForm("Print", "capture_payments", FormMethod.Post))
{
    <div style="background: #FFFFFF; border-radius: 10px; width: 100%; padding: 20px;">
        <h3 class="fg-gray">Reprint Receipt</h3>
        <input type="text" name="r" id="r" data-role="input" placeholder="Receipt # e.g. VCR010120211" />
        <br />
        <input type="submit" value="Print" class="button drop-shadow yellow" id="rNoBtn" style="width: 100%;" />
    </div>
}
